/*  

pale-blue : #ebf3fa; 
marine-blue : #234179; 
dark-red: #af443f  
dark-blue: #253a62 

*/

html {
    scroll-behavior: smooth;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    color: #253a62;
    background-image: url(./assets/blue-pale.svg);
    background-repeat: no-repeat;
}

section {
    width: 960px;
    height: 100vh;
    padding-top: 10rem;
    margin: auto;
}



/* PARTIE HEADER  */

header {
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100vw;
    /* glass.css */
    background: rgba(255, 255, 255, 0.41);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(6.6px);
    -webkit-backdrop-filter: blur(6.6px);
    border: 1px solid rgba(255, 255, 255, 0.3);
}

.burger-menu {
    display: none;
}

.logo {
    font-size: 1.5rem;
    font-weight: bold;
    margin-left: 2rem;
}

nav {
    margin-right: 3rem;
}

nav a {
    margin-left: 2rem;
}

a {
    text-decoration: none;
    color: #253a62 
}

.btn-round {
    border: solid #253a62 1px;
    padding: 10px;
    border-radius: 20px;
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

.gradient {
    background: linear-gradient(to bottom, #234179, #af443f);
    color: white;
    margin-top: 3rem;
}


header .btn-round:hover {
    background-color: #253a62;
    color: white;
}


.red {
    background-color: red;
}
.blue {
    background-color: blue;
}

/* SECTION HOME */


.home-img {
    width: 35rem;
    height: 22rem;
    margin-top: 3rem;
}

#home {
    display: flex;
}

h1 {
    font-size: 2.5rem;
}

span {
    font-weight: lighter;
}

#home p:last-of-type {
    margin-bottom: 2rem;
}


/* SECTION SERVICES  */


#services img {
    width: 22rem;
    height: 15rem;
}

#services h1 {
    text-align: center;
    margin-bottom: 6rem;
}

#services p {
    text-align: justify;
    width: 15rem;
}

.services-grid > div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.services-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

/* SECTION ABOUT  */


#about img {
    width: 8rem;
    height: 7rem;
    margin-right: 2rem;
    margin-top: 1rem;
}

#about > div {
    display: flex;
}

#about h1 {
    text-align: center;
    margin-bottom: 6rem;
}

.team-member h2 {
    margin-bottom: 0;
}

.team-member p {
    text-align: justify;
}

.team-member > p:first-of-type {
    margin-top: 0;
}

/* SECTION CONTACT */

#contact h1 {
    text-align: center;
    margin-bottom: 6rem;
}

#contact img {
    width: 28rem;
    height: 19rem;
    margin-right: 2rem;
}

#contact .container {
    display: flex;
}

form {
    display: flex;
    flex-direction: column;
    margin-left: 2rem;
    border-radius: 20px;
    padding: 1rem;
    box-shadow: 0px 0px 10px 10px rgba(0, 0 , 0, 0.1);
    width: 16rem;
}

form input, textarea {
    width: 15rem;
    border-radius: 20px;
    border: solid 1px #253a62;
    padding: 6px;
    margin-bottom: 1rem;
}

form textarea {
    height: 10rem;
}

input[type="submit"] {
    width: 15rem;
    background-color: #253a62;
    color: white;
    margin-top: 0.5rem;
}

form label {
    font-weight: bold;
    margin-bottom: 6px;
}

@media only screen and (max-width: 600px){
    section {
        width: 100vw;
        margin-bottom: 15rem;
        height: auto;
        margin-left: 2rem;
    }

    nav {
        display: none;
    }

    .burger-menu {
        display: block;
        width: 2rem;
    }
    #home {
        flex-direction: column;
        text-align: justify;
        margin-left: 2rem;
    }
    #home img {
        width: 25rem;
        height: 15rem;
    }

    .services-grid {
        display: flex;
        flex-direction: column;
    } 

    #contact .container {
        flex-direction: column;
    }
    
    #contact img {
        width: 18rem;
        height: 12rem;
        margin-right: 0;
    }
    #about > div {
        flex-direction: column;
        text-align: center;
    }
    #about img {
        margin: auto;
    }
    #about > div {
        flex-direction: column;
    }
    #about h2 {
        text-align: center;
    }
    .team-member p:first-of-type {
        text-align: center;
    }
    #contact img {
        width: 18rem;
        height: 12rem;
        margin: auto;
        margin-bottom: 2rem;
    }
}